<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <h2 class="text-center">Available discounts</h2>
        <div class="row">          
            <div class="col-md-12 mt10" >
                
                <form class="example-form full-width">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Promo Code</mat-label>
                      <input type="text"
                             placeholder="Pick one"
                             aria-label="Promo Code"
                             matInput
                             [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option 
                        *ngFor="let d of discount"
                         [value]="d.promoCode">
                          {{d.promoCode}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </form>
                  <button mat-raised-button color="primary" 
                 
                  >
                  Add
                  </button>
            </div>
        </div>
    </div>
</div>

